@{
    ViewData["Title"] = "dotNetSamples";
}

<div class="row">
    <div class="col-md-12">
        <h1>dotNetSamples</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Resumo</h3>
        <p> Essa aplicação tem o objetivo de exercitar conhecimentos em .Net Core:</p>
        <ul>
            <li>.Net Mvc</li>
            <li>Login</li>
        </ul>
       
    </div>
</div>
