@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <form>

            <div class="row">
                <div class="col-md-12">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 mt-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-2">
                    <label for="password">Senha</label>
                    <input type="password" name="password" id="password" class="form-control" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-3">
                    <button class="btn btn-dark btn-block">Entrar</button>
                </div>
            </div>

        </form>
    </div>
</div>
